{% extends 'base.html.twig' %}

{% block title %}<h1>Créer une tâche</h1>{% endblock %}

{% block body %}
    <h1 class="text-dark text-center fw-bold">Créer une tâche</h1>
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}
        <br>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-success ">Ajouter</button>
        </div>
        {{ form_end(form) }}
        <div class="d-flex justify-content-start align-items-center mt-3">
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
        <br>
    </div>
{% endblock %}
