{% extends 'base.html.twig' %}

{% block title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <h1 class="text-dark text-center fw-bold mt-3">Créer un utilisateur</h1>
    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}
        <br>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-success ">Ajouter</button>
        </div>
        {{ form_end(form) }}
        <div class="d-flex justify-content-start align-items-center mt-3">
            <a href="{{ path('homepage') }}" class="btn btn-primary">Retour </a>
        </div>
    </div>
{% endblock %}
